.view-cart {
  display: flex;
}

.cart-cont {
  width: 80%;
  padding: 20px;
  background-color: #f8fafc;
  display: flex;
  justify-content: flex-start;
  height: 90vh;
}

.des {
  width: 100%;
  text-align: left;
}
.name-icon {
  height: 35px;
  width: 35px;
  margin-top: 8px;
}

.second-cart-cont {
  display: flex;
}

.list-items-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 18rem;
  width: 20rem;
  margin: 10px;
}

.video-thumb {
  height: 10rem;
  width: 20rem;
}

.name-icon {
  height: 35px;
  width: 35px;
  margin-top: 8px;
}

.title {
  width: 16rem;
  font-size: 12px;
  text-align: start;
  font-weight: 500;
}

p {
  font-family: 'roboto';
  text-align: start;
  width: 10rem;
  text-align: start;
}

.cart-2 {
  display: flex;
}

.name {
  font-size: 13px;
  width: 4rem;
  text-align: start;
  color: #475569;
  font-weight: 500;
}
