.sidebar-cont {
  width: 18%;
  height: 85vh;
  padding-top: 3px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'roboto';
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logo {
  height: 40px;
  width: 200px;
  margin-top: 30px;
}

span {
  padding-right: 4px;
  padding-top: 3px;
}

li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.facebook-logo,
.twitter-logo,
.linedIn-logo {
  height: 35px;
  width: 35px;
}

.twitter-logo {
  margin-left: 5px;
  margin-right: 5px;
}

.des {
  width: 12rem;
  font-weight: 500;
  color: #000;
  font-size: 15px;
  text-align: start;
}

.link-item {
  text-decoration: none;
  color: #000;
  font-family: 'roboto';
}
